#logIn{
    -fx-background-color: #31AD72;
}

#logIn:hover{
    -fx-background-color: #30CA80;
    -fx-cursor: hand;
}

#createAccount{
    -fx-background-color: none;
    -fx-text-fill: #cbc7c7;
}

#createAccount:hover{
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

#emailInsert{
    -fx-background-color: none;
    -fx-border-color: #30CA80;
    -fx-prompt-text-fill: #CBC7C7;
    -fx-text-fill: #fff;
}

#passwordInsert{
    -fx-background-color: none;
    -fx-border-color: #30CA80;
    -fx-prompt-text-fill: #CBC7C7;
    -fx-text-fill: #fff;
}

#emailInsert:hover{
    -fx-background-color: none;
    -fx-border-color: #25ee8f;
    -fx-prompt-text-fill: #e9e7e7;
}

#passwordInsert:hover{
    -fx-background-color: none;
    -fx-border-color: #25ee8f;
    -fx-prompt-text-fill: #E9E7E7;
}

#title{
    -fx-background-color: none;
    -fx-text-fill: #fff;
}

#backToSign{
    -fx-background-color: none;
    -fx-text-fill: #cbc7c7;
}

#backToSign:hover{
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

#signUp{
    -fx-background-color: #31AD72;
}

#signUp:hover{
    -fx-background-color: #30CA80;
    -fx-cursor: hand;
}

#fullName{
    -fx-background-color: none;
    -fx-border-color: #30CA80;
    -fx-prompt-text-fill: #CBC7C7;
    -fx-text-fill: #fff;
}

#passwordConfirm{
    -fx-background-color: none;
    -fx-border-color: #30CA80;
    -fx-prompt-text-fill: #CBC7C7;
    -fx-text-fill: #fff;
}

#fullName:hover{
    -fx-background-color: none;
    -fx-border-color: #25ee8f;
    -fx-prompt-text-fill: #e9e7e7;
}

#passwordConfirm:hover{
    -fx-background-color: none;
    -fx-border-color: #25ee8f;
    -fx-prompt-text-fill: #E9E7E7;
}

#closeIcon{
    -fx-opacity: 0.8;
}

#closeIcon:hover{
    -fx-opacity: 1;
}

#incorrect{
    -fx-text-fill: #fff;
    -fx-background-color: #ff6363;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}