#closeIcon{
    -fx-opacity: 0.8;
}

#closeIcon:hover{
    -fx-opacity: 1;
}

#logOut{
    -fx-opacity: 0.8;
}

#logOut:hover{
    -fx-opacity: 1;
}

#paymentImg{
    -fx-opacity: 0.8;
}

#paymentImg:hover{
    -fx-opacity: 1;
}

#salaryImg{
    -fx-opacity: 0.8;
}

#salaryImg:hover{
    -fx-opacity: 1;
}

#balance{
    -fx-text-fill: #30CA80;
    -fx-highlight-fill: null;
    -fx-highlight-text-fill: null;
}

#editBalance{
    -fx-opacity: 0.8;
}

#editBalance:hover{
    -fx-opacity: 1;
    -fx-cursor: hand;
}

#saveBalance{
    -fx-opacity: 0.8;
}

#saveBalance:hover{
    -fx-opacity: 1;
    -fx-cursor: hand;
}

.default-color0.chart-pie {-fx-pie-color: #30CA80;}
.default-color1.chart-pie {-fx-pie-color: #ff4a4a;}
