#closeIcon{
    -fx-opacity: 0.8;
}

#closeIcon:hover{
    -fx-opacity: 1;
}

#logOut{
    -fx-opacity: 0.8;
}

#logOut:hover{
    -fx-opacity: 1;
}

#paymentImg{
    -fx-opacity: 0.8;
}

#paymentImg:hover{
    -fx-opacity: 1;
}

#salaryImg{
    -fx-opacity: 0.8;
}

#salaryImg:hover{
    -fx-opacity: 1;
}

#balance{
    -fx-text-fill: #30CA80;
    -fx-highlight-fill: null;
    -fx-highlight-text-fill: null;
}

#editBalance{
    -fx-opacity: 0.8;
}

#editBalance:hover{
    -fx-opacity: 1;
    -fx-cursor: hand;
}

#saveBalance{
    -fx-opacity: 0.8;
}

#saveBalance:hover{
    -fx-opacity: 1;
    -fx-cursor: hand;
}

.default-color0.chart-pie {-fx-pie-color: #30CA80;-fx-opacity: 0.8;}
.default-color1.chart-pie {-fx-pie-color: #ff4a4a; -fx-opacity: 0.8;}

.default-color0.chart-pie:hover {-fx-opacity: 1;}
.default-color1.chart-pie:hover {-fx-opacity: 1;}

#overview{
    -fx-pref-width: 225;
    -fx-pref-height: 275;
    -fx-min-width: 225;
    -fx-min-height: 275;
    -fx-max-width: 225;
    -fx-max-height: 275;
}

.chart-pie-label{
    -fx-fill: #fff;
}