#closeIcon{
    -fx-opacity: 0.8;
}

#closeIcon:hover{
    -fx-opacity: 1;
}

#logOut{
    -fx-opacity: 0.8;
}

#logOut:hover{
    -fx-opacity: 1;
}

#homeImg{
    -fx-opacity: 0.8;
}

#homeImg:hover{
    -fx-opacity: 1;
}

#salaryImg{
    -fx-opacity: 0.8;
}

#salaryImg:hover{
    -fx-opacity: 1;
}

#addPayment{
    -fx-background-color: #414141;
    -fx-text-fill: #d1d1d1;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

#addPayment:hover{
    -fx-background-color: #474747;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

.list-view .list-cell{
    -fx-background-color: #1b1b1b;
}

.list-view{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 0;
    -fx-background-color: #1b1b1b;
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.root{
    -fx-background-color: #1b1b1b;
}

#deletePayment{
    -fx-opacity: 0.8;
}

#deletePayment:hover{
    -fx-opacity: 1;
    -fx-cursor: hand;
}