#closeIcon{
    -fx-opacity: 0.8;
}

#closeIcon:hover{
    -fx-opacity: 1;
}

#logOut{
    -fx-opacity: 0.8;
}

#logOut:hover{
    -fx-opacity: 1;
}

#paymentImg{
    -fx-opacity: 0.8;
}

#paymentImg:hover{
    -fx-opacity: 1;
}

#homeImg{
    -fx-opacity: 0.8;
}

#homeImg:hover{
    -fx-opacity: 1;
}

#income{
    -fx-text-fill: #30CA80;
    -fx-highlight-fill: null;
    -fx-highlight-text-fill: null;
}

#editIncome{
    -fx-opacity: 0.8;
}

#editIncome:hover{
    -fx-opacity: 1;
    -fx-cursor: hand;
}

#saveIncome{
    -fx-opacity: 0.8;
}

#saveIncome:hover{
    -fx-opacity: 1;
    -fx-cursor: hand;
}