#closeIcon{
    -fx-opacity: 0.8;
}

#closeIcon:hover{
    -fx-opacity: 1;
}

#logOut{
    -fx-opacity: 0.8;
}

#logOut:hover{
    -fx-opacity: 1;
}

#paymentImg{
    -fx-opacity: 0.8;
}

#paymentImg:hover{
    -fx-opacity: 1;
}

#homeImg{
    -fx-opacity: 0.8;
}

#homeImg:hover{
    -fx-opacity: 1;
}

#income{
    -fx-text-fill: #30CA80;
    -fx-highlight-fill: null;
    -fx-highlight-text-fill: null;
}

#editIncome{
    -fx-opacity: 0.8;
}

#editIncome:hover{
    -fx-opacity: 1;
    -fx-cursor: hand;
}

#saveIncome{
    -fx-opacity: 0.8;
}

#saveIncome:hover{
    -fx-opacity: 1;
    -fx-cursor: hand;
}

.chart-title {
    -fx-text-fill: #ffffff;
}

.axis {
    -fx-tick-label-fill: #fff;
}

.chart-plot-background {
    -fx-background-color: none;
}
.chart-vertical-grid-lines {
    -fx-stroke: #b8b8b8;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #a2a2a2;
}
.chart-alternative-row-fill {
    -fx-fill: none;
    -fx-stroke: transparent;
}

.chart-legend{
    -fx-background-color: none;
}

.label{
    -fx-text-fill: #fff;
}

.default-color0.chart-bar { -fx-bar-fill: #30CA80; }
.default-color1.chart-bar { -fx-bar-fill: #fc5d5d; }

#saveUp{
    -fx-text-fill: #30CA80;
}

#calculate{
    -fx-background-color: #31AD72;
    -fx-text-fill: #fff;
}

#calculate:hover{
    -fx-background-color: #30CA80;
    -fx-cursor: hand;
}